.App {
  text-align: center;
}
.title{
  color: #01a3a4;
  margin-bottom: 5rem;
}
html{
  font-size: 10px;
}
body{
  background-color: #ddf3f5;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculatorWrapper{
  background-color: #a6dcef;
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.15);

}
.inputSection{
  height: 5rem;
  outline: none;
  border: none;
  background-color: #f2aaaa;
  border-radius: 1rem;
  flex-grow: 1;
}

button{
  width: 5rem;
  height: 5rem;
  padding: .5rem;
  margin: .5rem;
  background-color: #e36387;
  border-radius: 1rem;
  color: white;
  outline: none;
  border: none;
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.row{
  display: flex;
  justify-content: space-between;
}
.back{
  color: white;
  background-color: #ff6b6b;
}
.AC{
  color: white;
  background-color: #01a3a4;
  flex-grow: 1;
}
.equalTo{
  color: white;
  background-color: #01a3a4;
}